.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dedff4;
}

.table-head {
  display: flex;
  background-color: #651fff;
}

.table-head__item {
  padding: 18px 10px 20px 10px;
  flex: 1;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Heavy";
  color: #fff;
}
