.search {
  margin: 15px 0;
  display: block;
  max-width: 200px;
}

.search__input {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  outline: none;
  font-family: "Light";
  padding: 10px 12px;
}
