@font-face {
  font-family: "Heavy";
  src: url(../fonts/SFUIText-Heavy.otf);
}

@font-face {
  font-family: "Bold";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
}

@font-face {
  font-family: "Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
}

@font-face {
  font-family: "Light";
  src: url(../fonts/SF-UI-Text-Light.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
