.table-body-item {
  display: flex;
}

.table-body-item__field {
  flex: 1;
  padding: 15px;
  text-align: center;
  font-family: "Light";
  font-size: 1.4rem;
  border: 1px solid #dedff4;
}

.table-body-item__field--active {
  border-left: 1px solid #651fff;
  border-right: 1px solid #651fff;
  border-top: none;
  border-bottom: none;
}
